@import url('../../styles.css');

.main {
    width: auto;
    height: auto;
}

.pageDownloadToggle {
    height: 65px;
    overflow: hidden;
    border-radius: 0px;
    font-size: 18px;
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.pageDownloadToggle:hover {
    background-color: rgb(from var(--bg-primary) calc(r * 1.5) calc(g * 1.5) calc(b * 1.5));
    border-color: rgb(from var(--bg-primary) calc(r * 1.8) calc(g * 1.8) calc(b * 1.8));
}